<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hereslife.tracts"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Tracts</name>

    <description>
       A simple way to read bi-linguall tracts
    </description>

    <author href="http://hereslife.com" email="bob@hereslife.com">
        Bob Prouty
    </author>

</widget>
